* {
  margin:0;
}

.app {
  background-color: #fafafa;
}

.app_header {
  position:sticky;
  top: 0;
  z-index: 1;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  background-color: white;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app_headerImage {
  object-fit: contain;
}

.app_posts {
  padding: 20px;
  display: flex;
  justify-content: center
}

.app_postsRight {
  margin-left: 10px;
}

.app_signup {
  display:flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .app_hideEmbedMobile {
    display:block;
    display:none
  }
}